body{
    padding: 2em 1.5em ;
    background-color: #A0A0A0;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
}

.seletor-classes-suspenso{
    border: none;
    color: #ffffff;
    background-color: transparent;
    
}

option{
    background: #A0A0A0;
    color: #ffffff;
	box-shadow: none;
}

.card{  
    padding: .5em;
    width: fit-content;
    border: 5px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
    border-radius: 15px;
}


.container-nome-escola-nivel{
    display: flex;
    margin: .5em;
    gap: .5em;
}

.container-descricao{
    margin: .5em;
}

.container-duracao-acao-range{
    margin: .5em;
    gap: .5em;
    display: flex;
}

.duracao-magia{
    
}

.container-direita{
    display: flex;
    flex-direction: column;
    gap: .5em;
}